name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run unit tests
      run: cargo test --verbose
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Verify integration test cases
      run: cargo run --package chocopy-rs-tester -- chocopy-rs/test/pa3 --python
      if: runner.os == 'Linux'
    - name: Run integration tests
      run: cargo run --package chocopy-rs-tester -- chocopy-rs/test/pa3
    - name: Run integration tests (static)
      run: cargo run --package chocopy-rs-tester -- chocopy-rs/test/pa3 --static
    - name: Run official integration tests
      run: cargo run --package chocopy-rs-tester -- chocopy-rs/test/original/pa3
    - name: Run official integration tests (static)
      run: cargo run --package chocopy-rs-tester -- chocopy-rs/test/original/pa3 --static
